.room-name {
    position: fixed;
    font-size: 40px;
    text-align: center;
    height: 10%;
    width: 30%;
    top: 10%;
    right: 10%;
    margin: 0;
}

.home-button {
    position: fixed;
    height: 10%;
    width: 20%;
    left: 10%;
    top: 10%;

    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 25px;
    border-radius: 20px;

    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.home-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0.5px white;
}

.delta-room {
    position: fixed;
    border: 2px solid black;
    aspect-ratio: 1/1;
    text-align: center;
    font-size: 40px;

    border: 2px solid white;
    border-radius: 50%;

    transition: transform 0.5s ease;
}
.delta-room.locked {
    background-color: gray;
}
.delta-room:hover {
    transform: scale(1.1);
}

.delta-room.up {
    width: 5%;
    top: 2%;
    left: 47.5%;
}

.delta-room.down {
    width: 5%;
    bottom: 2%;
    left: 47.5%;
}

.delta-room.left {
    height: 10%;
    left: 2%;
    top: 45%;
}

.delta-room.right {
    height: 10%;
    right: 2%;
    top: 45%;
}

.name-wrap {
    position: fixed;
    display: flex;
    height: 50%;
    width: 50%;
    left: 25%;
    top: 25%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-input {
    height: 12%;
    width: 30%;

    text-align: center;
    background-color: white;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 15px;
}

.name-preview {
    margin: 40px;
    font-size: 40px;
}

.name-submit {
    height: 15%;
    width: 20%;

    border-radius: 15px;
    border: 2px solid white;
    color: white;
    background-color: black;
    font-size: 20px;

    transition: transform 0.5s ease;
}
.name-submit:hover {
    transform: scale(1.1);
}

.foyer-info {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;

    justify-content: center;
    align-items: center;
}

.foyer-text {
    text-align: center;
    font-size: 30px;
}

.freddy {
    position: fixed;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
}

.stone-container {
    position: fixed;
    display:flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    justify-content: center;
}
.stone-container.a {
    z-index: 7;
}
.stone-container.b {
    z-index: 6;
}

.stone-row {
    display: flex;
    flex-direction: row;
}

.stone {
    width: 20%;
    aspect-ratio: 1/1;
    margin: 2.5%;
}

.stone-glow {
    width: 20%;
    aspect-ratio: 1/1;
    margin: 2.5%;
    border-radius: 50%;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.stone-glow.correct {
    background-color: crimson;
    box-shadow: 0 0 15px 10px crimson;
}
