.house {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    gap: 2%;
}

.room-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 2%;
}

.room {
    display: flex;
    flex: 1;
    border: 4px solid black;
    background-color: white;
    transition: transform 0.5s ease;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 20px;
}

.room.show {
    background-color: white;
    border-color: crimson;
}
.room.not {
    background-color: gray;
}

.room:hover {
    transform: scale(1.1);
    z-index: 100;
}

.room-title {
    text-decoration: underline;
}